{% extends 'base.html' %}

{%load humanize %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}

    <h1>Payment to confirm Listing {{listing.title}}</h1>

                        <div id="paypal-button-container"></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=AXG1TN3yRLVIdLsrUHKOGpQBuM3_x8sC6-bAkROLWtaCqX_BJGNSoBpxGwr0B_QQdqY3cYh7TEO5SRKo&currency=USD"></script>
                          
                            <script>
                            var total = '{{listings.price}}'

                            paypal.Buttons({
                                

                                style: {
                                    color:  'blue',
                                    shape:  'rect',
                                    label:  'pay',
                                    height: 40,
                                    layout: 'horizontal'
                                },
                                

                                createOrder: function(data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{
                                            amount: {
                                                value: '1.23'
                                            }
                                        }]
                                    });
                                },


                                onApprove: function(data, actions) {
                                    return actions.order.capture().then(function(orderData) {

                                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                        var transaction = orderData.purchase_units[0].payments.captures[0];
                                        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                                        
                                        document.location.href = "{%url 'listings'%}"
                                    });
                                }


                            }).render('#paypal-button-container');
                        </script> 
{% endblock %}