{% extends 'base.html' %}

{%load humanize %}

{% block title %} | Payment To Confirm {% endblock %}

{% block content %}
<section id="simple_checkout" class="bg-light py-5">
    <div class="container">
      <div class="row">

        <div class="col-md-8 offset-md-1 mx-auto">
          <div class="card" style="border-radius: 40px;">
            <div class="card-header bg-primary1 text-white1" style="border-radius: 40px 40px 0 0;">
              <h4>
                <i class="fas fa-user-alt-slash"></i> Payment to confirm for {{ instance.title }}</h4>
            </div>

            <div class="card-body">
                
                <h5 class="form-row">The trustee posted the news: {{instance.realtor}}</h5>
                <div class="form-row">
                    <h6 class="col-md-6 text-center mb-3">Address: {{instance.address}}</h6>
                    <h6 class="col-md-6 text-center mb-3">Price: ${{instance.price |intcomma}} </h6>
                </div>
                <h5 class="form-row">The picture is displayed when it is posted </h5>
                <img class="card-img-top" src="{{instance.photo_main.url}}" alt="">
                    

                        <hr>
                        <div id="paypal-button-container" ></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=AXG1TN3yRLVIdLsrUHKOGpQBuM3_x8sC6-bAkROLWtaCqX_BJGNSoBpxGwr0B_QQdqY3cYh7TEO5SRKo&currency=USD"></script>
                          
                            <script>
                                {% comment %} var radios = document.forms["formA"].elements["myradio"];
                                for(var i = 0, max = radios.length; i < max; i++) {
                                    radios[i].onclick = function() {
                                        alert(this.value);
                                    }
                                } {% endcomment %}
                            {% comment %} var priceamount = document.getElementById("amount"); {% endcomment %}
                            var total = '{{instance.price}}'/10000;
                            {% comment %} var total = priceamount.amount; {% endcomment %}

                            paypal.Buttons({
                                

                                style: {
                                    color:  'blue',
                                    shape:  'rect',
                                    label:  'pay',
                                    height: 40,
                                    layout: 'horizontal'
                                },
                                

                                createOrder: function(data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{
                                            amount: {
                                                value: total
                                            }
                                        }]
                                    });
                                },


                                onApprove: function(data, actions) {
                                    return actions.order.capture().then(function(orderData) {

                                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                        var transaction = orderData.purchase_units[0].payments.captures[0];
                                        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                                        
                                        document.location.href = "{%url 'listings'%}"
                                    });
                                }


                            }).render('#paypal-button-container');
                        </script> 


                        
                    </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}