#header {
    height: 50px;
    background: #4285F4;
    color: #fff;
}
#branding h1{
    color: #fff;

}

a:link,
a:visited {
    color: #4285F4;

}
div.breadcrumbs {
    border:2px #4285F4;
    background: #fff;
    color:#4285F4;
}
div.breadcrumbs a {
    color: rgb(45, 90, 175);
}
.module h2, .module caption, .inline-group h2{
    background: #30caa0;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #4285F4;
    color:#fff;
}